<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout('Home Page')}">
<body>
    <div th:fragment="content">
        <h1>hello</h1>
        <!-- Displaying the logged-in user's name -->
        <div sec:authorize="isAuthenticated()">
            <p>Hello, <span th:text="${#authentication.principal.username}"></span>!</p>
            <p>Start <a th:href="@{/tracks/upload}">uploading tracks</a> now!</p>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <p>Please log in.</p>
            <a th:href="@{/login}">Login</a>
        </div>
    </div>
</body>

</html>