<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}">
    <title>TMNF Exchange Clone | Register</title>
</head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <h1>Register</h1>
    <form method="post" th:action="@{/register}" th:object="${registrationRequest}">
        <label for="username">Username:</label>
        <input th:field="*{username}" type="text" id="username" name="username" minlength="3" maxlength="20" required>
        <br>
        <label for="password">Password:</label>
        <input th:field="*{password}" type="password" id="password" name="password" minlength="8" required>
        <br>
        <label for="confirmPassword">Confirm Password:</label>
        <input th:field="*{confirmPassword}" type="password" id="confirmPassword" name="confirmPassword" required>
        <button type="submit">Register</button>
    </form>
    <a th:href="@{/login}">Login</a>
    <div th:if="${error}">
        <p th:text="${error}" style="color: red;"></p>
    </div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>