<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout('Track Page')}">

<body>
    <div th:fragment="content">
        <div class="d-flex my-2">
            <h1 class="flex-grow-1" th:text="${track.name}">Tracks</h1>
                <input type="hidden" name="id" _method="delete" />
                <form sec:authorization="isAuthenticated()" th:if="${hasAwarded == false and user.tmnfLogin != track.author}" th:action="@{/tracks/{id}/award(id=${track.id})}" method="post">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-trophy" style="color: gold;"></i> Award
                </button>
            </form>
        </div>
        <table th:replace="~{fragments/track-table :: table(${track})}"></table>
    </div>
</body>

</html>