<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout('Track Page')}">

<body>
    <div th:fragment="content">
        <h1 th:text="${track.name}">Tracks</h1>
        <tbody>
            <tr>
                <td th:text="${track.name}"></td>
                <td th:text="${track.author}"></td>
                <td th:text="${track.uid}"></td>
                <td th:text="${track.filePath}"></td>
                <td th:text="${track.createdAt}"></td>
                <td th:text="${track.awards}"></td>
            </tr>
        </tbody>
    </div>
</body>

</html>