<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Track</title>
    <script th:src="@{/js/readFile.js}"></script>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <h1>Upload Track</h1>
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    <p th:if="${success}" th:text="${success}" style="color: green;"></p>
    <form method="post" enctype="multipart/form-data" th:action="@{/tracks/upload}">
        <label for="file">Choose file:</label>
        <input type="file" id="file" name="file" required>
        <div id="file-info"></div>
        <button type="submit">Upload</button>
    </form>
</body>

</html>