<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout('Upload Page')}">

<body>
    <div th:fragment="content">
        <div class="container mt-5">
            <h1 class="mb-4">Upload Track</h1>
            <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
            <div th:if="${success}" class="alert alert-success" role="alert" th:text="${success}"></div>
            <div th:if="${user != null and user.tmnfLogin == null and user.username != 'admin'}"
                class="alert alert-warning" role="alert">
                Your TMNF login is not set. Please set it in your profile. <a th:href="@{/profile}"
                    class="alert-link">Profile</a>
            </div>
            <form method="post" enctype="multipart/form-data" th:action="@{/trackupload}"
                th:if="${user.tmnfLogin != null} or ${user.roles.?[name == 'ADMIN'].size() > 0} "
                th:object="${trackUploadRequest}">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Choose track file. Make sure it's .Challenge.Gbx
                        file</label>
                    <input class="form-control" type="file" name="file" id="formFile" th:field="*{file}" required>
                </div>
                <div class="mb-3">
                    <label for="difficulty" class="form-label">Difficulty</label>
                    <select class="form-select" name="difficulty" id="difficulty" th:field="*{difficulty}" required>
                        <option value="">Select a difficulty</option>
                        <option value="beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Expert">Expert</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="tag" class="form-label">Track tag</label>
                    <select class="form-select" name="tag" id="tag" th:field="*{tag}" required>
                        <option value="normal">Normal</option>
                        <option value="trial">Trial</option>
                        <option value="rpg">Rpg</option>
                        <option value="race">Race</option>
                        <option value="dirt">Dirt</option>
                        <option value="grass">Grass</option>
                        <option value="stunt">Stunt</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
</body>

</html>